///*** HOME SECTION ***///
.main {
    font-size: 100%;
    height: 100vh;
    position: relative;
    padding: 20px;
    &:before {
        content: "";
        position:absolute;
        left: 0;
        top: 0;        
        height: 100%;
        width: 100%;
        background: rgba($color_main, .85);
    }
    &_container {
        max-width: $width;
        margin: 0 auto;
        position: relative
    }
}

.menu {
    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $width;
        margin: 0 auto;

    }
    &_logo {
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}



.claim {
    text-align: center;
    font-size: 400%;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 30px;
    &_wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20%;
    }
    &_btn {
     //   color: $color_main;

    }
}

//--desktop--
@media screen and (min-width: 400px) {
    .main {
        font-size: 150%;
    }
    .claim_btn {
        height: 60px;
        padding: 0 40px;
        font-size: 100%;
        align-self: center;
    }
}

@media screen and (min-width: 500px) {
    .main {
        font-size: 180%;
    }
    .menu {
        &_wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: center
        }
        &_logo {
            margin: 0
        }
    }
}

@media screen and (min-width: 900px) {
    .claim {
        font-size: 500%;
    }
   
}