///*** INDEX HEADER SEARCH SECTION ***///
.main {
    font-size: 100%;
    height: 100vh;
    position: relative;
    padding: 15px 30px;
    &:before {
        content: "";
        position:absolute;
        left: 0;
        top: 0;        
        height: 100%;
        width: 100%;
        background: rgba($color_main, .8);
    }
    
    &_container {
        max-width: $width;
        margin: 0 auto;
        position: relative
    }
}

//*** claim ***
.claim {
    width: 300px;
    margin: 40% 0 0 0;
    font-size: 500%;
    line-height: 110%;
    color: $color_text;

}

// -- desktop --
@media screen and (min-width: 400px) {
    .claim {
        font-size: 600%;
        line-height: 100%;

    }
}

// @media screen and (min-width: 700px) {
//     .claim {
//         margin-top: 100px;
//         font-size: 700%;
//         line-height: 100%;

//     }
// }

@media screen and (min-width: 700px) {
    .claim_wrapper {
       display: flex;
       justify-content: space-between;
       align-items: flex-end
    }
    .claim {
        font-size: 1000%;
        margin-top: 200px;
       margin-bottom: 0;

    }
}

//*** search input ***
.search {
    display: flex;
    position: relative;
    &_input {
        width: 100%;
        height: 50px;
        padding: 10px 40px 10px 10px ;
        font-size: 150%;
        font-weight: 700;
        color: $color_text;
        background: transparent;
        border: 0;
        border-bottom: $color_text solid 8px;
    }
    &_icon {
        position: absolute;
        right: 0;
        height: 30px;
    }
}

// -- desktop --
@media screen and (min-width: 900px) {
    .search {
       width: 100%;
       &_input {
            padding-left: 50px;
            font-size: 300%;
        }
    }
}
