
///*** GENERAL SETTINGS ***///

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html,
body {
    font-family: $main_font;
    height: 100vh;
    background: $color-bg
}

p, ul, body, h1, h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
}

.tab_item {
    margin-top: 40px;
}
.tab_menu_item {
    font-weight: 700;
}

///*** BUTTONS ***///
.back_btn {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: right;
    margin-bottom: 30px;
    transition: .3s;
    cursor: pointer;
    &:hover {
        font-weight: 700;
    }
}

//--desktop--
@media screen and (min-width: 1000px) {
    .back_btn {
        margin-bottom: 90px;
    }
}

.info_btn {
    border: 2px solid $color_text;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    transition: .3s;
    margin-top: 30px;
    &:hover {
        background: $color_text;
        color: $color_main
    }
}

.overview_btn {
    display: block;
    font-weight: 700;
    border-bottom: 2px dotted transparent;
    transition: .3s;
    &:hover {
        border-bottom: 2px dotted $color_text;
    }
}

///*** RECOMEND ITEMS ***///
.recommend {
    text-align: center;
    padding-top: 30px;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: $color-bg;
    color: $color_text;
    height: 100vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    img {
        height: 100px;
        width: auto
    }

}

// vuetify 
.application.theme--light {
    background: $color-bg
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
      