// vuetify custom setting
@import '_vuetify';
///*** GENERAL SETTINGS ***///

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html,
body {
    font-family: $main_font;
    height: 100vh;
    background: $color-bg
}

p, ul, body, h1, h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
}

///*** RECOMEND ITEMS ***///
.recommend {
    text-align: center;
    padding: 30px 0;
    &_sub {
        text-align: center;
        font-size: 120%;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: $color-bg;
    color: $color_text;
    height: 100vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    img {
        height: 100px;
        width: auto
    }
}
// text in more overview box
.pre_text {
    white-space: pre-wrap; 
    word-wrap: break-word;
    font-family: inherit;
}

// animation
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
  
// to button
.up {
    position: fixed;
    right: 0;
    bottom: 5%;
    border-radius: $radius 0 0 $radius;
    background: $color_main;
    padding: 10px ;
    transition: all .3s;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &_active {
        opacity: 0; 
     }
}
      