///*** ITEMS WRAPPER ***///
.item {
    height: auto;
    width: 198px; //160
    margin: 10px;
    flex: 0 0 auto;
    &_container {
        background: $color-bg;
    }
    &_wrapper {
        display: flex;
        padding: 25px 10px;
        max-width: $width; 
        margin: 0 auto;
        overflow-x: auto;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        margin-bottom: 50px;
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background: $color-bg;
            
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: $color_text;
            height: 3px;
        }
    }
    &_content {
        position: relative;
        align-self: stretch;
        border-radius: $radius;
        box-shadow: 2px -3px 18px darken( $color-bg--light, 30% );
        cursor: pointer;
        overflow: hidden;
        z-index: 2;
        &:hover {
            img {
                transform: scale3d(1.10,1.10,1);
            }
        }
    }
    &_img {
        border-radius: $radius;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        transition: 0.3s;
    }
    &_hover {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 8px;
        opacity: 0;
        background: rgba($color_main, .5);
        transition-duration: 0.3s;
        transition-property: opacity;
        &:hover, &:focus, &:active, &:visited  {
            opacity: 1
        }
    }
    &_hover_ico {
        height: 30px;
        width: auto;
    }
    &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 7px;
        margin-top: 3px;
    }
    &_year {
        font-weight: 400;
        color: darken( $color-bg--light, 60% );
        padding-left: 7px;
    }
    &_rate {
        font-size: 120%;
        font-weight: 700;
    }
    &_name {
        font-size: 120%;
        line-height: 110%;
        padding-left: 7px;
    }
}

// poster and poster colored shadow
.poster {
    &_wrapper {
        position: relative;
    }
    &_shadow--colored {
        transform: scale(0.96);
        top: 14px;
        filter: blur(10px);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity .45s;
    }
}

.bookmark {
    margin: 0;
}