///*** ITEMS WRAPPER ***///
.item {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid $color_back_3;
    height: auto;
    font-size: 100%;

    @media screen and (min-width: 700px) {
        position: relative;
        width: 100%; //160
        min-width: auto;
        border-bottom: none;
        flex-direction: column;
        padding: 0;
    }
    &_wrapper {
        display: flex;
        padding: 25px 10px;
        max-width: $width; 
        margin: 0 auto;
        overflow-x: auto;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        margin-bottom: 50px;

        @media screen and (min-width: 700px) {
            padding: 25px 16px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
            grid-gap: 15px;
            border-bottom: none;
        }
    }
    &_content {
        position: relative;
        align-self: stretch;
        border-radius: $radius;
        box-shadow: 2px -3px 18px $color_back_4;
        cursor: pointer;
        overflow: hidden;
        z-index: 2;
        &:hover {
            img {
                transform: scale3d(1.10,1.10,1);
            }
        }
    }
    &_img {
        border-radius: $radius;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        transition: 0.3s;
    }
    &_hover {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 8px;
        opacity: 0;
        background: rgba($color_secondary, .5);
        transition-duration: 0.3s;
        transition-property: opacity;
        &:hover, &:focus, &:active, &:visited  {
            opacity: 1
        }
    }
    &_hover_ico {
        height: 30px;
        width: auto;
    }
    &_info {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "per delete"
        "title delete";
        width: 100%;
        position: relative;

        @media screen and (min-width: 400px) {
            width: 90%;
            padding-left: 20px;
        }
        @media screen and (min-width: 700px) {
            width: 100%;
            margin-top: 20px;
            padding-left: 0;
            grid-template-rows: 1fr auto auto;
            grid-template-areas: 
            "per delete"
            "title title"
            "year year";
        }
    }
    &_year {
        font-weight: 400;
        color: $color_back_5;
    }
    &_rate {
        grid-area: per;
        align-self: end;
        font-size: 120%;
        font-weight: 700;

        @media screen and (min-width: 700px) {
            align-self: center;
        }
    }
    &_title_box {
        grid-area: title;
        align-self: center;
    }
    &_name {
       // grid-area: title;
       // align-self: center;
        font-size: 120%;
        line-height: 120%;

        @media screen and (min-width: 700px) {
          // margin-top: 10px;
        }
    }
    &_delete {
        grid-area: delete;
        margin: 0 0 0 auto;
        align-self: center;
    }
}

// poster and poster colored shadow
.poster {
    &_wrapper {
        display: none;
        width: 80px;
        position: relative;

        @media screen and (min-width: 400px) {
            display: inline-block;
        }
        @media screen and (min-width: 700px) {
            width: auto
        }
    }
    &_shadow--colored {
       display: none;
        transform: scale(0.96);
        top: 14px;
        filter: blur(10px);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity .45s;

        @media screen and (min-width: 700px) {
           display: inline-block;
       
        }
    } 
}

.bookmark {
    margin: 0;
}