// pagination //
.pages {
    background: $color-bg;
    padding: 20px;
    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }
}