///*** SEASONS MENU AND LIST OF EPISODES ***///
.episode_wrapper {
    max-width: $width;
    margin: 0 auto;
    padding-top: 20px;
}
.episode {
    display: flex;
    border-bottom: 1px dashed $color_primary;
    padding: 20px;
    &:last-child {
        border-bottom: 0;
    }
    &_feedback {
        font-weight: 700;
        text-align: center
    }
    &_date {
        font-size: 90%;
        font-style: italic;
        margin-bottom: 10px;
    }
    &_img {
        display: none;
        width: 30%;
        height: 100%;
        margin-right: 20px;
        border-radius: $radius;
        box-shadow: 2px 2px 18px darken( $color_back_1, 40% );

        @media screen and (min-width: 600px) {
            display: block;
        }
    }
}