///*** ACTOR OVERVIEW ***///
@import '../../assets/scss/parts/_overview';
// DESCRIPTIONS
.info {
    &_name{
        font-size: 220%;
        display: inline-block;
    }
    &_overview_wrapper {
        margin: 30px 0;
        max-width: 600px;
    }
    &_overview_title {
        font-size: 130%;
    }
    &_overview_text {
        line-height: 150%;
        margin-bottom: 10px;
    }
}

// button all overview 
.btn_overview {
    display: block;
    font-weight: 700;
    border-bottom: 2px dotted transparent;
    transition: .3s;
    &:hover {
        border-bottom: 2px dotted $color_text;
    }
}

.overview_more {
    background: $color-bg--light;
}

//--desktop--
@media screen and (min-width: 1300px) {
    .overview_more {
        font-size: 120%;
    }
}

// actor image
.cast_img {
    height: 200px;
    width: auto;
    margin: 0 auto;
    border-radius: $radius;
    box-shadow: 2px 2px 15px darken( $color_main, 20% );
}

//--desktop--
@media screen and (min-width: 500px) {
    .cast_img {
        height: 300px;
    }
}

//--desktop--
@media screen and (min-width: 700px) {
    .cast_img {
        height: 400px;
    }
}

//--desktop--
@media screen and (min-width: 800px) {
    .cast_img {
        display: none
    }
}

//POSTER
.poster {
    display: none;
    position: relative;
}

@media screen and (min-width: 800px) {
    .poster {
        display: block;
        height: 100%;
        width: auto;
        border-radius: 0;
        box-shadow: none;
    }
}

// HOMEPAGE BUTTON
.back_btn {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: right;
    margin-bottom: 30px;
}

//--desktop--
@media screen and (min-width: 1000px) {
    .info_name {
        margin-top: 90px;
    }
}

.item_container {
    background: $color-bg--light;
}

.acting_wrapper {
    margin: 0 auto;
    width: 100%;

}

.acting {
    text-align: center;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}

.list {
//background: transparent;
    color: $color_text;
    &_year {
        color: $color_text;
        font-weight: 700;
        font-size: 100%;
    }
    &_item {
        border-bottom: 1px solid darken( $color-bg--light, 20% );
    }
    &_rate {
        color: $color_text;
        font-size: 100%;
        min-width: 60px;
        text-align: right
    }
}

//--desktop--
@media screen and (min-width: 1200px) {
    .acting {
        width: 70%;
    }
}