///*** SEASONS MENU AND LIST OF EPISODES ***///
.episode_wrapper {
    max-width: $width;
    margin: 0 auto;
    padding-top: 20px;
}
.episode {
    display: flex;
    border-bottom: 1px dashed $color_text;
    padding: 20px;
    &:last-child {
        border-bottom: 0;
    }
    &_feedback {
        font-weight: 700;
        text-align: center
    }
    &_date {
        font-size: 90%;
        font-style: italic;
        margin-bottom: 10px;
    }
    &_img {
        display: none;
        width: 30%;
        height: 100%;
        margin-right: 20px;
        border-radius: $radius;
    }
}

//--desktop--
@media screen and (min-width: 600px) {
    .episode_img {
        display: block;
    }
}

// to season button
.up {
    position: fixed;
    right: 0;
    bottom: 5%;
    border-radius: $radius 0 0 $radius;
    background: $color_main;
    padding: 10px ;
    transition: all .3s;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &_active {
        opacity: 0; 
     }
}



